
.title{
  margin: 10px;
}

.space {
  margin-top: 20px;
}

.toolbar{
  margin: 10px 0;
}

.vacio{
  color: #888;
}

.descripcion{
  text-align: end;
}

button{
  display: flex;
  justify-items: center;
  text-align: center;
}
